.DS_Store
.coverage
.dev/hass/config/.HA_VERSION
.dev/hass/config/.storage/
.dev/hass/config/backups/
.dev/hass/config/blueprints/
.dev/hass/config/custom_components/
.dev/hass/config/deps/
.dev/hass/config/home-assistant.log*
.dev/hass/config/home-assistant_v2.db*
.dev/hass/config/known_devices.yaml
.dev/hass/config/tts/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
dist/
htmlcov/
